.centerOfPage{
    transform: translate(75%,55%);
    border-radius: 10px;
    background-color: white;
    width: 37%;
  padding: 10px;
  
}
.centerOfPage .inputField {

    width: 300px;
}

.centerOfPage .headingOfPage{
    /* color: white; */
}
/* .mainPage{
    background-color: linear-gradient(rgb(0, 94, 255), rgb(43, 0, 255));
} */